<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vitamincode03.demoweb.mapper.UserMapper">
    <!-- Các phần tử SQL sẽ nằm ở đây -->
    <resultMap id="UserResultMap" type="User">
        <id column="username" property="username" />
        <result column="password" property="password"/>
        <result column="role" property="role"/>
    </resultMap>

    <update id="update">
        UPDATE Users
        SET username = #{username}
          , password = #{password}
          , role = #{role}
        WHERE username = #{username}
    </update>

    <update id="saveList">
        MERGE INTO users u
        USING (
        <foreach collection="list" item="user" separator="UNION ALL">
            SELECT #{user.username} AS username,
            #{user.password} AS password,
            #{user.role}     AS role
            FROM dual
        </foreach>
        ) src
        ON (u.username = src.username)
        WHEN MATCHED THEN
        UPDATE SET u.password = src.password,
        u.role     = src.role
        WHEN NOT MATCHED THEN
        INSERT (username, password, role)
        VALUES (src.username, src.password, src.role)
    </update>

    <delete id="deleteList">
        <if test="list != null and list.size() > 0">
            DELETE FROM users
                WHERE username IN
            <foreach collection="list" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>

    </delete>

    <select id="findAll" resultMap="UserResultMap">
        SELECT -- UserMapper.findAll
              username
            , password
            , role
        FROM Users
    </select>

    <select id="findByUsername" resultMap="UserResultMap">
        SELECT username
             , password
             , role
        FROM Users
        <where>
            <if test=" username != null and username != '' ">
              username = #{username}
            </if>
        </where>
    </select>

    <select id="findByUsernameList" resultMap="UserResultMap">
        SELECT username
        , password
        , role
        FROM Users
        <where>
            <if test=" usernameList != null and usernameList !='' ">
                username IN 
                <foreach collection="usernameList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <insert id="insert">
        INSERT INTO Users (username, password, role)
        VALUES (#{username}, #{password}, #{role})
    </insert>

    <insert id="insertList">
    INSERT ALL
            <foreach collection="list" item="item">
                INTO Users (username, password, role) VALUES
                (#{item.username}, #{item.password}, #{item.role})
            </foreach>
    SELECT * FROM DUAL
    </insert>

    <select id="isExist" resultType="int">
        SELECT CASE
                   WHEN EXISTS (SELECT 1 FROM users WHERE username = #{username})
                       THEN 1
                   ELSE 0
                   END AS user_exists
        FROM dual
    </select>
</mapper>
