<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vitamincode03.demoweb.mapper.UserMapper">
    <!-- Các phần tử SQL sẽ nằm ở đây -->
    <resultMap id="UserResultMap" type="User">
        <id column="username" property="username" />
        <result column="password" property="password"/>
        <result column="role" property="role"/>
    </resultMap>

    <update id="update">
        UPDATE Users
        SET username = #{username}
          , password = #{password}
          , role = #{role}
        WHERE username = #{username}
    </update>

    <select id="findAll" resultMap="UserResultMap">
        SELECT username
            , password
            , role
        FROM Users
    </select>

    <select id="findByUsername" resultMap="UserResultMap">
        SELECT username
             , password
             , role
        FROM Users
        <where>
            <if test=" username != null and username != '' ">
              username LIKE #{username}
            </if>
        </where>
    </select>

    <select id="findByUsernameList" resultMap="UserResultMap">
        SELECT username
        , password
        , role
        FROM Users
        <where>
            <if test=" usernameList != null and usernameList !='' ">
                username IN 
                <foreach collection="usernameList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <insert id="insert">
        INSERT INTO Users (username, password, role)
        VALUES (#{username}, #{password}, #{role})
    </insert>

    <insert id="insertList">
    INSERT ALL
            <foreach collection="list" item="item">
                INTO Users (username, password, role) VALUES
                (#{item.username}, #{item.password}, #{item.role})
            </foreach>
    SELECT * FROM DUAL
    </insert>
</mapper>
